<article class="inproceedings">

<h4>{{ include.page.title }}</h4>

<div class="authors">
  {% include author-list.html author=page.author %}
</div>

{% assign conference = site.data.conferences[include.page.conference] %}

{% if include.page.doi %}
  {% assign link = 'http://doi.org/' | append: include.page.doi %}
{% elsif include.page.link %}
  {% assign link = include.page.link %}
{% else %}
  {% assign link = conference.link %}
{% endif %}

<div class="information">
  <div class="conference"><span>Presented at </span><a href="{{ link }}">{{ include.page.conference }}</a><span>.</span></div>

  {% if include.page.fullversion %}
  {% assign fullversion = (site.research | where: 'id', include.page.fullversion | first) %}
  {% if fullversion.volume %}
    {% assign volnum = (fullversion.volume | append: '(' | append: fullversion.number | append: ')') %}
  {% else %}
    {% assign volnum = '(to appear)' %}
  {% endif %}

  <div class="journal"><span>Full version in </span><a href="http://doi.org/{{ fullversion.doi }}">{{ fullversion.journal }} {{ volnum }}</a><span>.</span></div>
  {% endif %}

  <div class="preprint"><span>Preprint on </span><a href="http://arxiv.org/abs/{{ include.page.eprint }}">arXiv</a><span>.</span></div>
</div>

</article>
