@import default

li
  list-style-type: none
  margin: 0

//==== Header ==================================================================

header
  margin: 0 0 $base-spacing 0
  display: flex
  align-items: center
  img
    +size(200px, 240px)
    border-radius: $base-border-radius
#letterhead
  margin: 0 0 0 2 * $base-spacing
  flex-direction: column
#name
  h1,h2
    margin: 0
  margin: 0 0 $base-spacing 0
#information
  display: flex
  justify-content: space-between
#contacts, #profiles
  margin: 0

@media (max-width: 700px)
  header
    img
      +size(0.85 * 200px, 0.85 * 240px)
@media (max-width: 600px)
  header
    img
      +size(0.75 * 200px, 0.75 * 240px)
@media (max-width: 550px)
  header
    flex-direction: column
  #letterhead
    margin: 0
  #name
    text-align: center

//==== Sections ================================================================
section h2
  border-bottom-style: solid
  border-width: 2px
#about h2
  display: none

//==== Research ================================================================
.inproceedings
  margin: 0 0 $small-spacing 0
  h4
    margin: 0

.authors
  margin: 0
  li
    margin: 0
    display: inline
    white-space: nowrap
    &::after
      content: ","
    &:nth-last-child(2)::after
      content: " and "
    &:last-child::after
      content: "."

.venues
  margin: 0
  li
    margin: 0
    display: inline
