<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {% if page.css %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ page.css }}.css"/>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css"/>
  {% endif %}

  <title>{{ page.title }}</title>

  {% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ['\\(','\\)'] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
            },
        });
  </script>
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}
</head>

<body>
{% assign lines = content | split: site.newline %}{% for line in lines %}  {{ line }}{{ site.newline }}{% endfor %} 
</body>

</html>
