// Special formatting for research section.

.authors
  display: inline-block
  .longname
    display: none
  .shortname
    display: inline
  span
    display: none

.information
  display: inline-block
  vertical-align: top
  margin-left: 2em
  span
    display: none

@media screen and (min-width: 480px)
  .authors, .information
    display: block
    span
      display: inline
  .information
    margin-left: 0
  .authors ul li
    display: inline
    white-space: nowrap

  .conference, .journal, .preprint
    display: inline

